/*---slide show skin---*/
.edslider{
	position:relative;
	margin:auto;
}
.edslider ul{
	list-style:none;
	position:relative;
	padding:0;
	margin:0;
}
.edslider > ul{
	background:#fff;
	display:block;
	overflow:hidden;
}
.edslider > ul li{
	display:none;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}
.edslider a{
	display:block;
}
.edslider a img{
	border:0;
}
.edslider .current{
	z-index:1 !important;
}
/*---controls---*/
.edslider .controls{
	top: 0;
	height: 0;
	position:absolute;
	width: 100%;
	z-index:2;
}
.edslider .controls .navigator{
	background: rgba(0,0,0,.3);
	background-image:url(../img/navigator.png);
	cursor:pointer;
	display:block;
	width:50px;
	height:50px;
	position: absolute;
	overflow: hidden;
	top: 225px;
	margin:2% 5%;
	transition: background .2s;
	border-radius: 25px;
}
.edslider .controls .next{
	background-position:0 0;
	right: 0;
}
.edslider .controls .prev{
	background-position:0 -50px;
	left: 0;
}
.edslider .controls .next:hover,
.edslider .controls .prev:hover{
	background-color: rgba(0,0,0,.6);
}
.edslider .controls .paginator{
	border-top:2px solid rgba(255,255,255,0.7);
	position: relative;
	text-align: center;
	top: 500px;
	background-color: rgba(0,0,0,0.8);
	font-family: arial;
	color: #FFFFFF;
}
.edslider .controls .paginator li{
	background:rgba(0,0,0,0.9);
	/*border-radius: 8px;*/
	box-sizing: border-box;
	display:inline-block;
	height:50px;
	width:50px;
	margin:50 3px;
	cursor:pointer;
	transition: background .2s;
	line-height: 50px;
	font-size: 16px;
}
.edslider .controls .paginator li.current,
.edslider .controls .paginator li:hover,
.edslider .progress{
		color:#FFFFFF;
	background:rgba(255,255,255,.5);
}
.edslider .progress{
	position: absolute;
	top: 0;
	height:3px;
	z-index:2;
}