* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	margin: 0 auto;
}

.warp {
	width: 100%;
}

.head-bg {
	width: 100%;
	height: 100px;
	background: url(../img/bg.png)repeat;
}

.head {
	position: relative;
	width: 1000px;
	height: 100px;
	margin: 0px auto;
}

.head-logo {
	position: absolute;
	width: 200px;
	height: 100%;
	background-color: blueviolet;
	left: 200px;
	background: url(../img/logo.png) no-repeat left top 20px;
}

.head-search {
	position: absolute;
	width: 400px;
	height: 100%;
	left: 500px;
}

.search input[type="text"] {
	background: url(../img/submit.png) no-repeat 10px 12px #444;
	background-size: 20px 20px;
	border: 0 none;
	font: bold 14px Arial, Helvetica, Sans-serif;
	/*color: #696969;*/
	color: rgba(255, 255, 255, 0.7);
	margin: 30px;
	width: 150px;
	height: 28px;
	padding: 6px 15px 6px 35px;
	border-radius: 20px;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
}

.search input[type="text"]:focus {
	width: 250px;
	outline: none;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}

#banner {
	margin: 0 auto;
	position: relative;
	width: 1000px;
	height: 330px;
	background-color: darkgoldenrod;
}

#nav {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 1000px;
	height: 90px;
	margin-left: -500px;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10;
}

#nav ul {
	width: 100%;
	height: 100%;
}

#nav ul li {
	display: block;
	float: left;
	margin: 15px 0px;
	height: 40px;
	width: 80px;
	padding: 10px 22px;
	border-right: 1px solid;
	border-color: rgba(240, 200, 240, 0.2);
	text-align: center;
}

#nav ul li .li-top {
	height: 24px;
	line-height: 24px;
}

#nav ul li .li-top a {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.8);
	position: relative;
	display: inline-block;
	overflow: hidden;
}

#nav ul li .li-top a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

#nav ul li .li-top a span:before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	/*font-size:15px;*/
	border-top: 3px solid rgba(255, 255, 255, 0.6);
	font-weight: 800;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

#nav ul li .li-top a:hover span,
#nav ul li .li-top a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

#nav ul li .li-buttom {
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.6);
	font-family: arial, Helvetica;
}

#nav ul li .li-buttom {
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.6);
	font-family: arial, Helvetica;
}

#nav ul li:last-child {
	border: none;
	width: 81px;
}

.main {
	width: 1000px;
	margin: 0 auto;
	height: 850px;
}

.box demo1 {
	width: 1000px;
	height: 800px;
	margin: 0 auto;
}

.tab_menu {
	width: 175px;
	height: 700px;
	background: url(../img/leftbb.jpg);
	background-color: brown;
	float: left;
}

.tab_box {
	left: 175px;
	width: 785px;
	height: 800px;
	float: left;
}

.tab_menu {
	overflow: hidden;
}

.tab_menu li {
	width: 175px;
	float: left;
	height: 45px;
	line-height: 45px;
	color: white;
	font-size: 13px;
	background: url(../img/languang1.jpg);
	cursor: pointer;
	padding-left: 15px;
}

.tab_menu li.current {
	background: url(../img/tuhuang.jpg);
}

.tab_menu li a {
	color: #fff;
	text-decoration: none;
}

.tab_menu li.current a {
	color: #333;
}

.tab_box {
	padding: 20px;
}

.tab_box li {
	height: 24px;
	line-height: 24px;
	overflow: hidden;
}

.tab_box li span {
	margin: 0 5px 0 0;
	font-family: "宋体";
	font-size: 12px;
	font-weight: 400;
	color: #ddd;
}

.tab_box .hide {
	display: none;
}


}
.tab_menu a {
	color: #333;
	text-decoration: none;
}
.tab_menu a:hover {
	color: #093;
	text-decoration: none;
}
#footer {
	width: 100%;
	height: 40px;
	background-color: rgb(227, 227, 227);
}
#footer-content {
	font-family: "微软雅黑", "宋体";
	width: 1000px;
	margin: 0px auto;
	color: #696969;
	line-height: 40px;
	font-size: 12px;
}
#footer-link {
	float: left;
}
#footer a {
	color: #696969;
	line-height: 40px;
	font-size: 12px;
}
#footer-beian {
	float: left;
	margin-left: 50px;
}
#footer-info {
	float: right;
}
.moren {
	left: 175px;
	width: 785px;
	height: 700px;
	background-color: white;
	float: left;
}
.main_right1 {
	width: 760px;
	height: 80px;
	color: #b61f18;
	border-bottom: 1px solid #dddddd;
}
.main_right1 li {
	width: 200px;
	height: 30px;
	font-weight: 900;
	font-size: 24px;
	float: left;
	margin-left: 10px;
	font-family: "新宋体";
	margin-top: 30px;
}
.main_right1 label {
	float: right;
	font-size: 15px;
	height: 30px;
	margin-top: 35px;
	margin-right: 10px;
}
.main_right1 span {
	font-size: 16px;
	font-weight: bold;
}
.main_right2 {
	width: 740px;
	height: 600px;
}
.main_right2 img {
	padding-top: 20px;
	padding-bottom: 30px;
}
.main_right3 {
	width: 760px;
	height: 100px;
	border-bottom: 2px solid #ce0000;
}
.main_right3 a {
	float: right;
	color: #b61f18;
	text-decoration: none;
	font-size: 15px;
	padding-top: 20px;
	padding-right: 12px;
}

.head1_right{
	position: absolute; 
	width: 100px;
	height: 50px;
	left: 890px;
	top: 40px;
	/*background-color: #2020FF;*/
}
.head1_right a {
	color:black;
	text-decoration: none;
}