.content{
     width:910px;
 }
.content h2{
    border-bottom: 1px dashed #999;
    font-size: 30px;
    padding-bottom: 15px;
}
.content section:first-child p{
    text-indent: 2em;
    line-height: 35px;
    font-size: 20px;
    font-family:"微软雅黑";
    font-weight: 300;
}
.content p{
    color:#999;
    margin-top:20px;
    line-height: 20px;
    display: block;
}
.content section{
    margin-bottom: 100px;
}