* {
	margin: 0;
	padding: 0;
}

body,html{
	
	width: 100%;
	height: 100%;
	text-align: center;
	color: #D55C30;
	font-family:"微软雅黑", "宋体" ;
	font-size: 12px;
	font-weight: 800;
	min-width: 1000px;
	background: url(../img/center/Logo_bg.png) no-repeat scroll top -450px left 95%;
	background-size: 700px
}

a {
	text-decoration: none;
	font-family: "微软雅黑", "宋体";
}


#content{
	width: 100%;
	height: 100%;
	position: relative;
	
}

#logo{
    padding: 5px 0px;
	position: absolute;
	width: 200px;

	top: 22%;
	left: 50%;
	height:18%;
	margin-left: -100px;
    text-align: center;
    /*background-color: #8A2BE2;*/
}
#logo-img{
	/*height: 100%;*/
	display: block;
	margin: auto auto;
}


#logo-two{
	
	padding: 5px 0px;
	position: absolute;
	height: 10%;
	background: url(../img/center/bg-logo2.png) no-repeat center center;
	width: 80%;
	top:40%;
	left: 10%;
	 text-align: center;
	/*background-color: #5F9EA0;*/
}

#logo-img2{
	margin: auto auto;
}

#signal{
	padding: 5px 0px;
	position: absolute;
	height: 13%;
	width: 800px;
	top:50%;
	left: 50%;
	margin-left: -400px;
	line-height: 30px;
}	

#signal-cn{
	 line-height: 30px;
	letter-spacing: ;
	color:#000000;
	font-family:"宋体";
	font-size: 25px;
	font-weight: bolder;
}
#signal-eng{
	 line-height: 24px;
	 color:#000000;
}

#tel{
	
	line-height: 24px;
	color: #5f423e;
}
#enter{
    padding: 5px 0px;
	position: absolute;
	height: 10%;
	width: 800px;
	top:63%;
	left: 50%;
	margin-left: -400px;
	line-height: 80px;	
	font-size: 18px;
	
}

#enter a{
    color: #ab8733;
}
#enter a:hover{
	color: #5f423e;
}

#contact{
	
    padding: 5px 0px;
	position: absolute;
	width: 800px;
	top:73%;
	left: 50%;
	margin-left: -400px;
    line-height: 24px;
	color:#999999;
}


@-webkit-keyframes change-logo{
	0%{
		  /*padding:20px 0px;*/
		-webkit-transform:rotate(0deg);
		-moz-transform: rotate(0deg);
		transform:  rotate(0deg);
		opacity: 0;
		width: 0;
		
	}
	100%{
		-moz-transform: rotate(1080deg);
		-moz-transform: rotate(1080deg);
		transform:  rotate(1080deg);
		opacity: 1;
	}
}

@-webkit-keyframes change-logo2{
	0%{
		margin-top: 20px;
	  opacity: 0;
	}
	100%{
		margin-top: 0px;
	}
}

@-webkit-keyframes change-word{
	0%{
	 
	  opacity: 0;
	}
	100%{
	  opacity: 100%;
	}
}

@-webkit-keyframes change-enter{
	
	0%{
	 
	}
	100%{
      -webkit-transform: rotateX(360deg) scale(1.2);
	}
	
}


#logo-img{
	
	-webkit-animation: change-logo 4s ease-out 0s ;
	-moz-animation: change-logo 4s ease-out 0s;
	animation: change-logo 4s ease-out 0s;
	/*animation-iteration-count: 1;*/
	
}
#logo-img2{
	-webkit-animation: change-logo2 1s linear 2s ;
	-moz-animation: change-logo2 1s linear 2s;
	animation: change-logo2 1s linear 2s;
	-webkit-animation-fill-mode: both;
}

#content-word{
	-webkit-animation: change-word 1s linear 3s ;
	-moz-animation: change-word 1s linear 3s;
	animation: change-word 1s linear 3s;
	-webkit-animation-fill-mode: both;
}

#enter p {
		-webkit-animation: change-enter 1s linear 4s ;
	-moz-animation: change-enter 1s linear 4s;
	animation: change-enter 1s linear 4s;
	-webkit-animation-fill-mode: both;
}




